* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  --col-blue-: rgb(10, 108, 255);
  --col-dark-blue-: #050a30;
  --col-an-blue-: rgb(45, 129, 255);
  --col-shadows-: #050a303d;
  --col-white-: whitesmoke;
  --col-light-border-: rgb(189, 189, 189);
  --col-dark-border-: gray;
}

body {
  overflow-x: hidden;
}

.bg1 {
  width: 100%;
  height: 100vh;
  background: var(--col-blue-);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.mainBlock {
  width: 400px;
  text-align: center;
}

.mainBlock p {
  font-size: 1.6rem;
  color: var(--col-white-);
  font-weight: bolder;
  margin-bottom: 25px;
}

.mainBlock button {
  cursor: pointer;
  border: 3px solid var(--col-white-);
  background: none;
  font-size: 1.2rem;
  padding: 0.3em 0.6em;
  color: var(--col-white-);
  border-radius: 3px;
  transition: 0.1s ease-in-out;
}

.mainBlock button:hover,
.mainBlock button :focus {
  color: var(--col-blue-);
  background: var(--col-white-);
}

/*Rules section*/
.rulesSection {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform: translateY(30px);
  opacity: 0;
  pointer-events: none;
}

.rules {
  width: fit-content;
  background: var(--col-white-);
  box-shadow: 0px 20px 30px 0px var(--col-shadows-);
}

.rulesH1 {
  text-align: center;
  padding: 1em 2em;
  box-shadow: 0 5px 10px -8px var(--col-dark-blue-);
}

.rulesH1 h1 {
  color: var(--col-dark-blue-);
  font-weight: 600;
}

.rulesList {
  padding: 1.5em 2em;
}

.rulesList ul li {
  color: var(--col-dark-blue-);
  margin-block: 10px;
  font-weight: 500;
}

.rulesBtn {
  padding: 0.7em 2em;
  box-shadow: 0 -5px 10px -8px var(--col-dark-blue-);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

#rulesStartBtn {
  font-size: 1.1rem;
  padding: 0.2em 0.7em;
  cursor: pointer;
  border: 3px solid var(--col-blue-);
  background: var(--col-blue-);
  border-radius: 3px;
  color: var(--col-white-);
}

#rulesCancelBtn {
  font-size: 1.1rem;
  padding: 0.2em 0.7em;
  cursor: pointer;
  border: 3px solid var(--col-an-blue-);
  background: var(--col-an-blue-);
  border-radius: 3px;
  color: var(--col-white-);
}

/* Game section */
.gameBg {
  width: 100%;
  height: 100%;
  background: var(--col-blue-);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* transform: translateX(100%); */
}

.gameBlock {
  background: var(--col-white-);
  width: 623px;
  box-shadow: 0px 20px 30px 0px var(--col-shadows-);
  overflow: hidden;
}

.gameInfo {
  padding: 0.6em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 10px -8px var(--col-dark-blue-);
}

.gameInfo p {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--col-dark-blue-);
}

.infoRight p {
  width: 205px;
  padding: 0.5em 0.8em;
  background: var(--col-blue-);
  color: var(--col-white-);
  border-radius: 3px;
}

.questionBlock {
  padding: 2em 2em;
  display: flex;
  gap: 50px;
}

.questions p {
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 30px;
  color: var(--col-dark-blue-);
}

.ansBtns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ansBtns button {
  width: 559px;
  text-align: left;
  padding: 0.5em 1em;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 0.95rem;
  cursor: pointer;
  background: var(--col-white-);
  border: 3px solid var(--col-light-border-);
  border-radius: 3px;
  color: var(--col-dark-blue-);
}

.ansBtns button:hover,
.ansBtns button:focus {
  background: rgb(233, 233, 233);
  border: 3px solid var(--col-dark-border-);
}

.gameBottom {
  padding: 0.7em 2em;
  box-shadow: 0 -5px 10px -8px var(--col-dark-blue-);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#previousBtn {
  font-size: 1.1rem;
  padding: 0.2em 0.7em;
  cursor: pointer;
  border: 3px solid var(--col-an-blue-);
  background: var(--col-an-blue-);
  border-radius: 3px;
  color: var(--col-white-);
}

#nextBtn {
  font-size: 1.1rem;
  padding: 0.2em 0.7em;
  cursor: pointer;
  border: 3px solid var(--col-blue-);
  background: var(--col-blue-);
  border-radius: 3px;
  color: var(--col-white-);
}

/* Submit Block */
.submitBg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(30px);
  opacity: 0;
  pointer-events: none;
}

.submitBlock {
  background: var(--col-white-);
  padding: 0.8em 1.3em;
  border-radius: 3px;
  box-shadow: 0 10px 20px -5px var(--col-shadows-);
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 30px;
}

.submitBlock p {
  font-weight: 500;
  color: var(--col-dark-blue-);
  font-size: 1.1rem;
}

.submitBlockBtns {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
}

.submitCancelBtn {
  font-size: 0.95rem;
  padding: 0.4em 1em;
  cursor: pointer;
  border: 3px solid var(--col-an-blue-);
  background: var(--col-an-blue-);
  border-radius: 3px;
  color: var(--col-white-);
}

.submitBtn {
  font-size: 0.95rem;
  padding: 0.4em 1em;
  cursor: pointer;
  border: 3px solid var(--col-blue-);
  background: var(--col-blue-);
  border-radius: 3px;
  color: var(--col-white-);
}

/* Animations section */
@keyframes rulesOpenAnim {
  0% {
    transform: translateY(30px);
    opacity: 0;
    pointer-events: none;
  }
  60% {
    transform: translateY(-5px);
    opacity: 1;
    pointer-events: none;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes rulesCloseAnim {
  0% {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
  40% {
    transform: translateY(-5px);
    opacity: 1;
    pointer-events: none;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes bg1Anim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes gameBgAnim {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes question1Anim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-609px);
  }
}

@keyframes question2Anim {
  0% {
    transform: translateX(-609px);
  }
  100% {
    transform: translateX(-1218px);
  }
}

@keyframes question3Anim {
  0% {
    transform: translateX(-1218px);
  }
  100% {
    transform: translateX(-1827px);
  }
}

@keyframes question1AnimRe {
  0% {
    transform: translateX(-609px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes question2AnimRe {
  0% {
    transform: translateX(-1218px);
  }
  100% {
    transform: translateX(-609px);
  }
}

@keyframes question3AnimRe {
  0% {
    transform: translateX(-1827px);
  }
  100% {
    transform: translateX(-1218px);
  }
}
